@media screen and (max-width: 1160px) {
  .main {
    &_container {
      max-width: 704px;
    }
    &_fifth--section--images {
      display: grid;

      gap: 16px;
      grid-template-areas: "first-image second-image";

      img:nth-child(1) {
        grid-area: first-image;
        width: 100%;
      }

      img:nth-child(2) {
        grid-area: second-image;
        width: 100%;
      }

      img:nth-child(3) {
        display: none;
      }
    }
    &_fifth--section--bottom {
      &--text {
        max-width: 306px;
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .main {
    &_fifth {
      position: relative;
      &--section {
        &--images {
          display: grid;
          grid-template-areas:
            "first-image"
            "second-image";
          justify-content: center;
        }
        &--bottom {
          flex-direction: column;
          align-items: center;
          gap: 36px;
          &--text {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .main_fifth--section .order_buy--modal {
    width: 311px;
    &--cards {
      &--el {
        width: 231px;
        height: 257px;
        img {
          width: 167px;
          height: 148px;
          padding-top: 32px;
          padding-left: 32px;
        }
        &--weight {
          margin-left: 55px;
          margin-top: 16px;
        }
      }

      &--el:nth-child(2),
      :nth-child(3) {
        display: none;
      }
    }
    .order_buy--form {
      label:nth-child(3){
        input{

          padding-left: 24px;
        }
        .mobile_elements{
          display: none
        }
      }
      .form_field {
        &--label:first-child{
          .form_field--person--info{
            flex-direction: column;
          }
        }
        &:last-child{
          textarea{
            width: 250px;
            height: 91px;
          }
        }
        &--label--input {
          width: 250px;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .main {
    &_fifth {
      &--section {
        &--desktop {
          display: none;
        }
        &--mobile {
          display: block;

          &--header {
            margin-bottom: 32px;
            font-family: Montserrat;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -3%;
            text-align: center;
            color: black;
            span {
              color: #fd9222;
            }
          }

          &--images {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              width: 100%;
              max-width: 305px;
            }

            &--text {
              margin-top: 20px;
              margin-bottom: 32px;
              max-width: 306px;
              font-family: Montserrat;
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              letter-spacing: -2%;
              color: #111111;
            }
          }

          &--image {
            width: 100%;
            max-width: 335px;
            height: 464px;
          }

          &--button--wrapper {
            display: flex;
            justify-content: center;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
