@media screen and (max-width: 1200px) {
  .main {
    &_third {
      &--cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .main {
    &_second {
      &--cards {
        display: grid;
        grid-template-columns: repeat(2, 326px);
        justify-content: center;
        gap: 30px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main {
    &_second {
      &--cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;

        &--item {
          padding-left: 25px;
          padding-right: 0px;
        }

        &--line {
          display: none;
        }

        &--item:not(:last-child) {
          border-bottom: 2px solid gray;
          padding-bottom: 50px;
        }
      }
    }
  }

  @media screen and (max-width: 630px) {
    .main {
      &_third {
        &--cards {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  @media screen and (max-width: 415px) {
    .main {
      &_first {
        &--content--left {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }
    }
  }
}
