@media screen and (max-width: 1160px) {
  .main {
    &_container {
      max-width: 704px;
    }
    &_fifth--section--images {
      display: grid;

      gap: 16px;
      grid-template-areas: "first-image second-image";

      img:nth-child(1) {
        grid-area: first-image;
        width: 100%;
      }

      img:nth-child(2) {
        grid-area: second-image;
        width: 100%;
      }

      img:nth-child(3) {
        display: none;
      }
    }
    &_fifth--section--bottom {
      &--text {
        max-width: 306px;
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .main {
    &_fifth {
      position: relative;
      &--section {
        &--images {
          display: grid;
          grid-template-areas:
            "first-image"
            "second-image";
          justify-content: center;
        }
        &--bottom {
          flex-direction: column;
          align-items: center;
          gap: 36px;
          &--text {
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .main {
    &_fifth {
      &--section {
        &--desktop {
          display: none;
        }
        &--mobile {
          display: block;

          &--header {
            margin-bottom: 32px;
            font-family: Montserrat;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -3%;
            text-align: center;
            color: black;
            span {
              color: #fd9222;
            }
          }

          &--images {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              width: 100%;
              max-width: 305px;
            }

            &--text {
              margin-top: 20px;
              margin-bottom: 32px;
              max-width: 306px;
              font-family: Montserrat;
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              letter-spacing: -2%;
              color: #111111;
            }
          }

          &--image {
            width: 100%;
            max-width: 335px;
            height: 464px;
          }

          &--button--wrapper {
            display: flex;
            justify-content: center;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
