.main {
  &_container {
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
  }

  &_first {
    &--title {
      font-family: Montserrat;
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: -0.03em;
      color: white;
      margin-bottom: 32px;
      padding-top: 381px;
      max-width: 484px;
    }

    &--section {
      margin-bottom: 72px;
      .main_container {
        background-image: url(/images/main-first-back.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
      }
    }

    &--wrapper {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
    }

    &--content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--firstbtn {
        width: 144px;
        height: 45px;
        border-radius: 100px;
        background-color: #fd9222;
        color: white;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 14px;
        line-height: 17.07px;
        border: 0;
        outline: none;
        cursor: pointer;
      }

      &--secondbtn {
        width: 183px;
        height: 45px;
        border-radius: 100px;
        background-color: transparent;
        border: 1px solid white;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 14px;
        line-height: 17.07px;
        color: white;
        outline: none;
        cursor: pointer;
      }

      &--right {
        display: flex;
        align-items: center;
        gap: 14px;

        span {
          font-family: Montserrat;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -3%;
          color: white;
        }
      }
    }
  }

  &_second {
    &--section {
      background-color: #1e1823;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &--cards {
      display: flex;
      justify-content: space-between;

      &--title {
        margin-top: 22px;
        margin-bottom: 18px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 21.94px;
        color: white;
      }

      &--text {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 17.07px;
        color: #ffffffb2;
        max-width: 310px;
      }

      &--item {
        position: relative;
        padding-right: 18px;
      }

      &--line {
        position: absolute;
        width: 1px;
        height: 124px;
        right: 0;
        top: 60px;
        background-color: #ffffff80;
      }
    }
  }

  &_third {
    &--section {
      .main_container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      padding-top: 128px;
      padding-bottom: 128px;
    }

    &--title {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -3%;
      text-align: center;
      color: #111111;
      max-width: 411px;
      margin-bottom: 28px;

      span {
        color: #fd9222;
      }
    }

    &--text {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -2%;
      text-align: center;
      max-width: 486px;
      margin-bottom: 50px;
      color: #111111;
    }

    &--cards {
      display: flex;
      justify-content: center;
      gap: 19px;

      &--element {
        &--text {
          font-family: Montserrat;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -0.02em;
        }

        &:nth-child(1) {
          background-color: #fd9222;
          padding: 28px 36px;
          border-radius: 15px;
          color: #ffffff;
        }

        &:nth-child(2) {
          padding: 28px 36px;
          border: 2px solid orange;
          border-radius: 15px;
        }

        &:nth-child(3) {
          background-color: #1E1823;
          padding: 28px 36px;
          border-radius: 15px;
          color: #ffffff;
        }

        &:nth-child(4) {
          padding: 28px 36px;
          border: 2px solid orange;
          border-radius: 15px;
        }
      }
    }
  }

  &_forth {
    &--section {
      .main_container {
        flex-direction: column;
        display: flex;
        align-items: center;
      }
    }

    &--title {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -3%;
      text-align: center;
      color: #111111;
      margin-bottom: 50px;

      span {
        color: #fd9222;
      }
    }

    &--content {
      display: flex;
      gap: 52px;
      align-items: center;
      margin-bottom: 36px;
    }

    &--right {
      width: 516px;
      height: 400px;
      border-radius: 15px;

      &--title {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        max-width: 350px;
        margin-bottom: 28px;
      }

      &--list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        li {
          display: flex;
          gap: 8px;

          p {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            max-width: 430px;
          }
        }
      }
    }

    &--grey--block {
      width: 100%;
      height: 51px;
      background-color: #D9D9D9;
      margin-bottom: 41px;
    }
  }
}
