.main {
  &_container {
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
  }

  &_first {
    &--title {
      font-family: Montserrat;
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: -0.03em;
      color: white;
      margin-bottom: 32px;
      padding-top: 381px;
      max-width: 484px;
    }

    &--section {
      margin-bottom: 72px;
      .main_container {
        background-image: url(/images/main-first-back.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
      }
    }

    &--wrapper {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
    }

    &--content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--firstbtn {
        width: 144px;
        height: 45px;
        border-radius: 100px;
        background-color: #fd9222;
        color: white;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 14px;
        line-height: 17.07px;
        letter-spacing: 0%;
        border: 0;
        outline: none;
        cursor: pointer;
      }

      &--secondbtn {
        width: 183px;
        height: 45px;
        border-radius: 100px;
        background-color: transparent;
        border: 1px solid white;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 14px;
        line-height: 17.07px;
        letter-spacing: 0%;
        color: white;
        outline: none;
        cursor: pointer;
      }

      &--right {
        display: flex;
        align-items: center;
        gap: 14px;

        span {
          font-family: Montserrat;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -3%;
          color: white;
        }
      }
    }
  }

  &_second {
    &--section {
      background-color: #1e1823;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &--cards {
      display: flex;
      justify-content: space-between;

      &--title {
        margin-top: 22px;
        margin-bottom: 18px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 21.94px;
        letter-spacing: 0%;
        color: white;
      }

      &--text {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 17.07px;
        letter-spacing: -2%;
        color: #ffffffb2;
        max-width: 310px;
      }
      &--item {
        position: relative;
        padding-right: 18px;
      }

      &--line {
        position: absolute;
        width: 1px;
        height: 124px;
        right: 0;
        top: 60px;
        background-color: #ffffff80;
      }
    }
  }
  &_forth {
    &--section {
      .main_container {
        flex-direction: column;
        display: flex;
        align-items: center;
      }
    }
    &--title {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -3%;
      text-align: center;
      color: #111111;
      margin-bottom: 50;
      span {
        color: #fd9222;
      }
    }
    &--content {
      display: flex;
      gap: 52px;
      align-items: center;
    }
  }
}
