.main_container {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
}

.main_fifth--section {
  position: relative;
  &--mobile {
    display: none;
  }
  &--header {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #111111;

    &--span {
      color: #fd9222;
    }
  }

  &--images {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 32px;

    img {
      width: 368px;
      height: 464px;
    }
  }

  &--bottom {
    display: flex;
    justify-content: space-between;

    &--text {
      max-width: 407px;
      color: #111111;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.02em;
    }

    &--button {
      width: 162px;
      height: 50px;
      color: #ffffff;
      background-color: #fd9222;
      border-radius: 100px;
      border: none;
    }
  }

  &--order {
    &--modal {
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 609px;
      height: 1058px;
      border-radius: 15px;
      border: 3px solid brown;

      &--container {
        width: 100%;
        max-width: 513px;
        margin: 0 auto;
      }
    }
  }
}
