@import "./variablesreviews";
@media (max-width:500px){
    .review-backdrop{
        &-title{
            font-size: 22px;
        }
        &-form{
            &-input{
                font-size: 16px;
                &::placeholder{
                    font-size: 16px;
                }
            }
            .phonenum{
                padding: 14px 18px;
                 input{
                    padding-right: 0;
                }
            }
            .numinput{
                gap: 10px;
            }
        }
    }
}
@media (max-width:425px){
    .reviews{
        &-item{
            min-width: 100%;
        }
    }
    .review-backdrop{
        padding-inline: 20px;
        padding-block: 40px;
        .close{
            top: 14px;
            right: 14px;
        }
        &-title{
            max-width: 255px;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.6px;
            text-transform: uppercase;
        }
        &-form{
            &-input{
                padding: 14px 18px;
            }
            .phonenum{
                input{
                    padding-left: 10px;
                }
            }
            .numinput{
                img{
                    width: 24px;
                    height: 18px;
                }
                font-size: 14px;
                gap: 8px;
                padding-right: 5px;
            }
        }
        &-textarea{
            font-size: 14px;
            &::placeholder{
                font-size: 14px;
            }
        }

    }

}